.discount {
    min-height: 300px;
    width: 100%;
    border: 5px solid $litegreen-form;
    border-image: linear-gradient(to right, #25EFBE, #105476);
    border-image-slice: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        max-width: 35%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @media #{$tablet} {
            order: 1;
            margin-bottom: 15px;
        }

        @media #{$mobile-sm} {
            max-width: 100%;
        }
    }

    @media #{$tablet} {
        flex-direction: column;
    }
}