/*@media*/
$mobile-sm:"(max-width:565px)";
$mobile:"(max-width:767px)";
$tablet:"(max-width:1023px)";
$notebook:"(max-width:1199px)";

// colors
$black: #000000;
$white: #FFFFFF;
$litegreen-form: #A6F7E6;
$darkgreen-form: #6895B3;

$border-green: #25EFBE;
$border-dark: #105476;

$grey:#AFB2B2;
