/*@media*/
$mobile-sm:"(max-width:565px)";
$mobile:"(max-width:767px)";
$tablet:"(max-width:1023px)";
$notebook:"(max-width:1199px)";

// colors
$black: #000000;
$grey: #ccced4;
$lightgrey: #F4F4F6;
$light-blue: #CEDEEC;
$white: #FFFFFF;
$red: #FC0D41;
$wetAsphalt: #2d2d44;
$orange: #FF5D39;
